<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  You can find more information about me <a href="http://garretsaarinen.com" target="_blank">here at my website.</a>
</p>
<p>
  Or... feel free to send me an <a href="mailto:garretbsaarinen@gmail.com">email.</a>
</p>
</br>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>
